*{
    box-sizing: border-box;
}
body {
    padding-top:81px;
}
.navbar {
    background-color:white;
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.75);
    padding: 15px 0;
}
.myCard{
    background-size: cover;
    margin: 10px 0;
 }
 .cardPadding{
    padding: 20px;
 }
 .card-paragraph{
    padding-top: 150px;
    color: cadetblue;
 }

 .card-category {
     color: cadetblue;
 }
 .lenght-color{
  height: 5px;
 } 

.list-unstyled {
    margin-top: 50px;
}

 .list-unstyled li {
    padding: 5px;
 }
.list-unstyled li a {
    text-decoration: none;
    color: #CDCDCD;
    padding: 10px;
}

/* modall  */

  .whiteText{
     color: white;
     padding: 30px;
     font-size: 20px;
     text-transform: uppercase;
     font-weight: bold;
     margin-top: 50px;
}

  .left-sidebar-modal {
      height: 100vh;
      background-color: #A4DED2;
      position: fixed;
      margin-left: 5px;
  }
  .float-left-container {
      float: right;
      padding: 0;
      position: relative;
      background-color: white;
      min-height: 100vh;
  }
  .img-container-modal{
      height: 50vh;
     background-image: url("assets/img/Meet your HR Competitors.jpeg");
     background-position: center;
     background-size: cover;
  
     position: relative;
  }
  .x-icon-style{
    position: absolute;
    right: 20px;
    color: red;
  }
  .img-container-modal1 {
    height: 40vh;
    background-image: url("assets/img/Become an expert in creating experts.jpg");
    background-position: center;
    background-size: cover;

  }
  .text-modal-style h3, h5 {
      font-weight: bold;
      margin-top: 40px;
  }

  /* //////////////////////////////////////// */
.list-unstyled li:not(last-child){
    margin-bottom: 10px;
}
.side-filter {
    height: 100vh;
}
.email-input{
    position: relative;
}
.email-input input {
    padding-left: 30px;
    width: 500px;
    background-color: #FFF6F5;
    border: none;
    border-radius: 2px;
}
.navbar-form .form-control {
    width: 250px;
}
.email-input button{
    border: none;
    background-color: #FF6F61;
    color: white;
    border-radius: 2px;
}
.email-input i {
    position: absolute;
    left: 10px;
    top: 9px;
    color: #FF8672;
}
.email-input input::placeholder{
    color: #FF8672;
}
.logo-linkedin{
    text-decoration: none;
    color: #2D2D2D;
    position: relative;
    bottom: 0px;
    margin-top: 20px;
}
.brand {
    height: 50px;
    width: 150px;
}
.search-cont{
    display: flex;
    justify-content: center;
    height: 34px;
    line-height: 33px;
}

/* formaaa///// */

.div-height {
    height: 90vh;
}
.input-style::placeholder{
    color: #B8E4DB;
 
}
.radio-color {
    color: #B8E4DB;
}
.label-form-style  {
 border: none;
}
.input-style {
    background-color: #f7fbfa;
    border: none; 
    margin-left: 20px;
    margin-top: 25px;
    width: 80%;
}
.text-area{
    color: #B8E4DB;
}
.submit-btn-style {
    background-color: #CDECE5;
    color: white;
    font-weight: bold;
    border: none;
    margin-left: 20px;
}
.forma-container{
    margin-top: 50px;
 
}
.container-form-style {
    margin-left: 10px;
    margin-top: 50px;
    padding: 15px;
    box-shadow: 0px 0px 5px #e6e3e3;
}
.container-left-from-style {
    width: 85%;
    height: 50vh;
    margin: 50px 50px;
   
}
.radio-input {
    display: none;
}
.radio-style {
    width: 30%;
    border: none;
}
.color-change-label {
    color:rgb(51, 51, 51);
}